.logo {
    margin: -11px;
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
}

.grow:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}